<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ASH</title>
    <meta name="description">
    {% load static from staticfiles %}

    <!-- Calendar -->
    <link rel="stylesheet" type="text/css" href="{% static 'full-calendar/css/fullcalendar.css' %}"/>
    <link rel="stylesheet" type="text/css" media='print' href="{% static 'full-calendar/css/fullcalendar.print.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'full-calendar/css/custom.css' %}"/>
    <script type="text/javascript" src="{% static 'full-calendar/lib/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'full-calendar/lib/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'full-calendar/js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'full-calendar/js/custom.js' %}"></script>

    <!-- ClockPicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'clock-picker/dist/bootstrap-clockpicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'clock-picker/assets/css/github.min.css' %}">
    <script type="text/javascript" src="{% static 'clock-picker/dist/bootstrap-clockpicker.min.js' %}"></script>

    <!-- DatePicker -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>


    <!-- Structure -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">

        <!-- Main User Profile Picture and Basic Info Section -->
        <br>

        <p style="font-family:serif; font-size:4em;" align="center">Welcome Back <span class="text-muted">{{client.User.FirstName}} {{client.User.LastName}}</span></p><br>

        <div class="row">
            <div class="col-md-4 text-center" style="width:42%; padding:0">
                <br><br>
                <div class="row">
                    <span class="text-muted" style="font-family:serif; font-size:1.2em;">
                        <div class="col-md-4 text-center" style="width:100%;">Phone#: (917) 341-2523</div>
                    </span>
                </div>
                <hr class="featurette-divider" style="margin:5px; border-color:#D1D0CE;">
            </div>

            <div class="col-md-4 text-center" style="width:16%; padding:1">
                <img class="img-circle" src="{% static 'images/main_user.jpeg' %}" style="width:100%; border:1px solid #D1D0CE;">
            </div>

            <div class="col-md-4 text-center" style="width:42%; padding:0">
                <br><br>
                <div class="row">
                    <span class="text-muted" style="font-family:serif; font-size:1.2em;">
                        <!-- <div class="col-md-4 text-center" style="width:30%;">Phone#: (917)341-2523</div> -->
                        <div class="col-md-4 text-center" style="width:100%;">Address: 4304 Broadway, New York, NY 10031</div>
                    </span>
                </div>
                <hr class="featurette-divider" style="margin:5px; border-color:#D1D0CE;">
            </div>
        </div><br>

        <!-- Main User Profile Buttons Section -->
        <div class="row">
            <!-- Button: My Family -->
            <div class="col-md-4 text-right">
                <p><a class="btn btn-default" style="width:12em" data-toggle="modal" data-target="#MyFamilyModal">My Family »</a></p>
            </div>

            <!-- Modal: My Family -->
            <div class="modal fade" id="MyFamilyModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">My Family</h4>
                        </div>
                        <div class="modal-body">
                            <!-- <p>Icons with their faces. (clickable/link) </p> -->
                            <ul>
                              {% if list_family_members %}
                                  {% for member in list_family_members %}
                                        <br>
                                        <li style="list-style: none"><a href="/mainApp/{{member.User.id}}/profile/">
                                            <img class="img-circle" src="/media/{{member.User.ProfilePicture.thumbnail}}" style="width:10%; border:1px solid #D1D0CE;">
                                            {{member.User.FirstName}} {{member.User.LastName}} ({{member.RelationshipToClient}})</a>
                                        </li>
                                  {% endfor %}
                              {% else %}
                                  <p>No Family available.</p>
                              {% endif %}
                            </ul>
                            <!-- <p>Short description.</p> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button: My Friends -->
            <div class="col-md-4 text-center">
                <p><a class="btn btn-default" style="width:12em" data-toggle="modal" data-target="#MyFriendsModal">My Friends »</a></p>
            </div>

            <!-- Modal: My Friends -->
            <div class="modal fade" id="MyFriendsModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">My Friends</h4>
                        </div>
                        <div class="modal-body">
                            <!-- <p>Icons with their faces. (clickable/link) </p> -->
                            <ul>
                              {% if list_friends %}
                                  {% for friend in list_friends %}
                                      <br>
                                      <li style="list-style: none"><a href="/mainApp/{{friend.User.id}}/profile/">
                                            <img class="img-circle" src="/media/{{friend.User.ProfilePicture.thumbnail}}" style="width:10%; border:1px solid #D1D0CE;">
                                            {{friend.User.FirstName}} {{friend.User.LastName}} ({{friend.RelationshipToClient}})</a>
                                      </li>
                                  {% endfor %}
                              {% else %}
                                  <p>No Family available.</p>
                              {% endif %}
                            </ul>
                            <!-- <p>Short description.</p> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button: About Me -->
            <div class="col-md-4 text-left">
                <p><a class="btn btn-default" style="width:12em" data-toggle="modal" data-target="#AboutMeModal">About Me »</a></p>
            </div>

            <!-- Modal: About Me -->
            <div class="modal fade" id="AboutMeModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">About Me</h4>
                        </div>
                        <div class="modal-body">
                            <p>Education, place of birth, anniversary, and other things the user wants to add.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div style="text-align:center">
          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{client.Reference_ID}}">
            Reference ID
          </button>
        </div>
        <br><br><br><br><br><br>
        <!-- End of Main User Profile Buttons Section -->



        <!-- Search Bar -->
        <hr class="featurette-divider" style="width:60%; border-color:#D1D0CE;">
        <p style="font-family:serif; font-size:3em;" align="center">Looking For Someone?...</p><br>

        <form id="form_review" method="get" action="/mainApp/profile/">
            <div align="center">
                <div class="input-group" style="width:70%;">
                    <input type="text" class="form-control" style="height:4em;" placeholder="Who are you looking for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" style="height:4em; width:5em" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </form><br><br><br><br><br><br>
        <!-- /End of Search Bar -->



        <!-- Three Special People Section -->
        <hr class="featurette-divider" style="width:60%; border-color:#D1D0CE;">
        <p style="font-family:serif; font-size:3em;" align="center">Your Special People...</p><br>

        <div class="row">
            <!-- Icon & Button: Special Person One -->
            <div class="col-md-4 text-center">
              <a href="/mainApp/{{list_family_members.0.User.id}}/profile/">
                <img class="img-circle" src="/media/{{list_family_members.0.User.ProfilePicture.thumbnail}}" style="width:50%; border:1px solid #D1D0CE;">
                <h2>{{list_family_members.0.User.FirstName}} {{list_family_members.0.User.LastName}}</h2>
                <p>{{list_family_members.0.RelationshipToClient}}</p>
              </a>
                <p><a class="btn btn-default" data-toggle="modal" data-target="#SpecialPersonOne">View details »</a></p>
            </div>

            <!-- Modal: Special Person One -->
            <div class="modal fade" id="SpecialPersonOne" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">About Gregory Smith</h4>
                        </div>
                        <div class="modal-body">
                            <p>Short description like in the ABOUT ME modal of the main user.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Icon & Button: Special Person Two -->
            <div class="col-md-4 text-center">
              <a href="/mainApp/{{list_family_members.1.User.id}}/profile/">
                <img class="img-circle" src="/media/{{list_family_members.1.User.ProfilePicture.thumbnail}}" style="width:50%; border:1px solid #D1D0CE;">
                <h2>{{list_family_members.1.User.FirstName}} {{list_family_members.1.User.LastName}}</h2>
                <p>{{list_family_members.1.RelationshipToClient}}</p>
              </a>
              <a class="btn btn-default" data-toggle="modal" data-target="#SpecialPersonTwo">View details »</a></p>
            </div>

            <!-- Modal: Special Person Two -->
            <div class="modal fade" id="SpecialPersonTwo" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">About Sally Smith</h4>
                        </div>
                        <div class="modal-body">
                            <p>Short description like in the ABOUT ME modal of the main user.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Icon & Button: Special Person Three -->
            <div class="col-md-4 text-center">
              <a href="/mainApp/2/">
                <img class="img-circle" src="{% static 'images/plus-icon.png' %}" style="width:50%; border:1px solid #D1D0CE;">
                <!-- <h2>Kathy Jones</h2>
                <p>Best friend ever since childhood. Can't ask for a better friend in my life.</p> -->
                <!-- <p><a class="btn btn-default" data-toggle="modal" data-target="#SpecialPersonThree">View details »</a></p> -->
              </a>
            </div>

            <!-- Modal: Special Person Three -->
            <div class="modal fade" id="SpecialPersonThree" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">About Kathy Jones</h4>
                        </div>
                        <div class="modal-body">
                            <p>Short description like in the ABOUT ME modal of the main user.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br><br><br><br><br>
        <!-- /End of Three Favorite People Section -->

        {% include "calendar.html" %}

        <p class="pull-right"><a href="#">Back to top</a></p>
        <hr class="featurette-divider" style="width:100%; border-color:#D1D0CE;">



        <!-- Footer -->
        <footer>{% include "footer.html" %}</footer>
        <!-- End Footer -->
        <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
        </script>
</body>
</html>
