<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ASH</title>
  {% load static from staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate-custom.css' %}">
</head>
<body style="background-image:url({% static 'images/old-couple-on-park-bench.jpg' %});">
  <div>
    <br>
    <section>
      <div id="container_demo" style="margin-left: 68px; margin-right: auto;">
        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
          <div id="login" class="animate form" style="padding:12px 6% 12px 6%">
            <form type="POST" method="post" action="/mainApp/authenticate/" autocomplete="on">
              {% csrf_token %}
              <h1 style="font-size: 2em">Alzheimer's Social Helper</h1>
              <p>
                <label for="username" class="uname" data-icon="u" > Your email or username </label>
                <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
              </p>
              <p>
                <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
              </p>
              {% if error %}
                <span style="color: red; font-size:13px">Invalid Username or password</span>
              {% endif %}
              <p class="keeplogin">
                <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                <label for="loginkeeping">Keep me logged in</label>
              </p>
              <p class="login button">
                <input type="submit" value="Login" style="padding: 4px 2% 4px 2%; font-size: 18px; width: 20%; margin-top:-10%"/>
              </p>
              <h3 style="text-align: right; margin-top:-2%"><a href="#toregister" class="to_register">Register</a></h3>

              <!-- <p class="change_link">
                Not a member yet ?<a href="#toregister" class="to_register">Join us</a>
              </p> -->
            </form>
          </div>

          <div id="register" class="animate form">
            <form autocomplete="on">
              <h1> Sign up </h1>
              <p>
                <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
              </p>
              <p>
                <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/>
              </p>
              <p>
                <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
              </p>
              <p>
                <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
              </p>
              <p class="signin button">
                <input type="submit" value="Sign up"/>
              </p>
              <p class="change_link">
                Already a member ?
                <a href="#tologin" class="to_register"> Go and log in </a>
              </p>
            </form>
          </div>

        </div>
      </div>
    </section>
  </div>
</body>
</html>
