<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>ASH</title>
    <meta name="description">
    {% load static from staticfiles %}

    <!-- Calendar -->
    <link rel="stylesheet" type="text/css" href="{% static 'full-calendar/css/fullcalendar.css' %}"/>
    <link rel="stylesheet" type="text/css" media='print' href="{% static 'full-calendar/css/fullcalendar.print.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'full-calendar/css/custom.css' %}"/>
    <script type="text/javascript" src="{% static 'full-calendar/lib/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'full-calendar/lib/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'full-calendar/js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'full-calendar/js/custom.js' %}"></script>

    <!-- ClockPicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'clock-picker/dist/bootstrap-clockpicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'clock-picker/assets/css/github.min.css' %}">
    <script type="text/javascript" src="{% static 'clock-picker/dist/bootstrap-clockpicker.min.js' %}"></script>

    <!-- DatePicker -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>


    <!-- Structure -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'profile-page/css/profile.css' %}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <body>
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing"><br>
        <!-- Sub User Profile Picture and Basic Info Section -->
        <p style="font-family:serif; font-size:4em;" align="center">{{subuser_firstname}} {{subuser_lastname}}</p><br>

        <div class="row">
            <div class="col-md-4 text-center" style="width:42%; padding:0">
                <br><br>
                <div class="row">
                    <span class="text-muted" style="font-family:serif; font-size:1.2em;">
                        <div class="col-md-4 text-center" style="width:100%;">Age: {{subuser_age}}</div>
                    </span>
                </div>
                <hr class="featurette-divider" style="margin:5px; border-color:#D1D0CE;">
            </div>

            <div class="col-md-4 text-center" style="width:16%; padding:1">
                <img class="img-circle" src="/media/{{subuser_profile_picture}}" style="width:100%; border:1px solid #D1D0CE;">
            </div>

            <div class="col-md-4 text-center" style="width:42%; padding:0">
                <br><br>
                <div class="row">
                    <span class="text-muted" style="font-family:serif; font-size:1.2em;">
                        <!-- <div class="col-md-4 text-center" style="width:30%;">Phone#: (917)341-2523</div> -->
                        <div class="col-md-4 text-center" style="width:100%;">Relationship to {{ client_firstname }}: {{ subuser_relationship }}</div>
                    </span>
                </div>
                <hr class="featurette-divider" style="margin:5px; border-color:#D1D0CE;">
            </div>
        </div><br><br>
        <!-- End of Sub User Profile Picture and Basic Info Section -->


        <!-- Tabs Section for the even-icons, Pictures, and Description of the  Sub-user (about me)-->
        <div class="panel panel-default" style="margin-right:15%; margin-left:15%;" align="center">
            <div id="content" class="panel-body" style="margin-right:2%; margin-left:2%; text-align:left">
                <!-- Tab Headers -->
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#aboutme" data-toggle="tab">About Me</a></li>
                    <li><a href="#events" data-toggle="tab">Events</a></li>
                    <li><a href="#pictures" data-toggle="tab">Pictures</a></li>
                </ul>

                <!-- Tab contents -->
                <div id="my-tab-content" class="tab-content">
                    <!-- About Me content -->
                    <div class="tab-pane active" id="aboutme">
                        <br><h4>Who Am I?</h4>
                        {{ subuser_aboutme }}
                    </div>

                    <!-- Events -->
                    <div class="tab-pane" id="events">
                        <br><h4>Events We've Done Together:</h4><br>
                        <div class="events-icons-section">
                        {% if memories %}
                            {% for memory in memories %}
                                {% if memory.pictures %}
                                    <div class="event-icon">
                                        <img class="img-square" src="/media/{{ memories.0.pictures.0 }}" onclick="memoryDetail()">
                                        <div style="margin:5%;">{{ memory.title }}</div>
                                    </div>
                                {% else %}
                                    <div class="event-icon">
                                        <img class="img-square" src="{% static 'images/no_image.png' %}" onclick="memoryDetail()" style="border:1px solid #D2D5D6; border-radius:5px;">
                                        <div style="margin:5%;">{{ memory.title }}</div>
                                    </div>
                                {% endif %}
                                <!-- Modal: Memory Details -->
                                <div class="modal fade" id="memoryDetail" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" align="center">{{ memory.title }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Description</h4>
                                                <p>{{ memory.description }}</p>
                                                <h4>Date</h4>
                                                <p>{{ memory.StartDate }}</p>
                                                <h4>Pictures</h4>
                                                {% if memory.pictures %}
                                                    {% for picture in memory.pictures %}
                                                        <img class="img-square" src="/media/{{ picture }}" onclick="addPictureToMemory()" style="cursor: pointer; width:30%; border:1px solid #D1D0CE; border-radius:5px;">
                                                    {% endfor %}
                                                {% else %}
                                                    <img class="img-square" src="{% static 'images/no_image.png' %}" onclick="addPictureToMemory()" style="cursor: pointer; width:30%; border:1px solid #D1D0CE; border-radius:5px;">
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="plus-icon">
                                <img class="img-square" src="{% static 'images/plus-icon.png' %}" onclick="addMemory()">
                            </div>
                        {% else %}
                            <div class="plus-icon">
                                <img class="img-square" src="{% static 'images/plus-icon.png' %}" onclick="addMemory()">
                            </div>
                            <!-- <div class="plus-icon-mem">
                                <div class="plus-icon-mem-content">
                                    <br><br><span class="plus-sign">+</span>
                                    <p class="select-add-img-msg">Add Another Image</p>
                                </div>
                            </div> -->
                            {% endif %}
                        </div>

                        <!-- Modal: Add New Memory -->
                        <div class="modal fade" id="addMemory" role="dialog">
                            <div class="modal-dialog" style="min-width:68em;">
                                <!-- Modal Content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" align="center"><strong>Add New Memory</strong></h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal Body -->
                                    <div class="modal-body" style="padding-left:7%; padding-right:7%;" align="center">
                                        <!-- div containing the img panels to be cloned into the form below when the Add Image button is clicked -->
                                        <div id="readroot" class='memory-panel-outter-border' style="display: none">
                                            <button type='button' class='close' onclick='closeImgPanel(this)'>&times;</button>
                                            <div class='memory-panel-inner-border'>
                                                <div class='memory-panel-content'>
                                                    <div class='fileUpload'>
                                                        <div class='img-selected'>
                                                            <br><br><span class='plus-sign'</span>
                                                            <p class='select-add-img-msg'>Select Image</p>
                                                        </div>
                                                        <input id='uploadBtn' type='file' accept='image/*' class='upload' onchange='readImage(this);'/>
                                                    </div>
                                                    <textarea class='form-control img-descrip-input' aria-label='...' maxlength='500' placeholder='Describe the moment captured in this picture (max 500 chars)' value=''></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <form id="form-add-memory" method="post" action="/mainApp/addMemory/">
                                            {% csrf_token %}
                                            <!-- Input: Memory title input field-->
                                            <div class="input-group">
                                                <span class="input-group-addon" style="width:9em; color:black; padding-left:1em; padding-right:1.2em;">Title</span>
                                                <input class="form-control" name="memory-title-input" type="text" aria-label="..." maxlength="30" placeholder="Enter a meaningful title..(max 30 chars)" value="" style="width:40em;">
                                            </div>
                                            <br>
                                            <!-- Input: Memory description input field -->
                                            <div class="input-group">
                                                <span class="input-group-addon" style="width:9em; color:black;">Description</span>
                                                <textarea class="form-control" name="mem-descrip-input" aria-label="..." maxlength="500" placeholder="Please, be as specific as possible..(max 500 chars)" value="" style="width:40em; height:7em;"></textarea>
                                            </div>
                                            <br>
                                            <!-- DatePicker -->
                                             <div id="datepicker" class="input-daterange input-group">
                                                <span class="input-group-addon" style="width:5em; height:2.8em;"><i class="glyphicon glyphicon-calendar"></i></span>
                                                <input class="input-sm form-control" id="input-datestart" name="input-datestart" type="text" readonly style="width:10em; height:2.8em;"/>
                                                <span class="input-group-addon" style="width:5em">to</span>
                                                <input class="input-sm form-control" id="input-dateend" name="input-dateend" type="text" readonly style="width:10em; height:2.8em;"/>
                                                <span class="input-group-addon" style="width:5em;"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                            <br>
                                            <!-- File Input: Picture input field -->
                                            <div class="input-group">
                                                <span id="title-add-img"><p>- Below, include some pictures that captured valuable moments of this memory -</p></span>
                                                <button id="add-img-button" type="button" class="btn btn-default" style="width:15em;" onclick="addImgPanel()">Add Image</button><br><br>
                                                <div class="add-memory-panel-section" id="add-memory-panel-section">
                                                    <span id="writeroot"></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <!-- Buttons: Create event & Cancel -->
                                        <button id="add-memory-button" type="submit" form="form-add-memory" class="btn btn-default">Add</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pictures -->
                    <div class="tab-pane" id="pictures">
                        <br><h4>Pictures Together:</h4>
                        <!-- Button for pagination -->
                        <!-- <a id="button_list" class="btn btn-info navbar-btn navbar-left">List</a> -->
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>
        <!-- End of Tabs Section for the Events -->
    </div>


    <!-- Calendar -->
    {% include "calendar.html" %}


    <!-- SCRIPTS -->
    <script type="text/javascript">
        function memoryDetail() {
            $('#memoryDetail').modal('show');
        }


        function addMemory() {
            $('#addMemory').modal('show');
        }


        /* Reads the image and renders the picture in the panel/icon */
        function readImage(input) {
            // If a file has been chosen
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                // Read the input as URL. The result will be stored in 'this.result' after the 'load' event fires
                reader.readAsDataURL(input.files[0]);

                // Called when the read operation successfully completes
                reader.onload = function (e) {
                    $(input.parentNode.childNodes[0]).html("<img id='uploadedPicture' class='img-square' src='"+ e.target.result +"'>");
                    $(input.parentNode).css( "background-color", "white" );
                };
            }
            else {
                // Display back the "Add Image" message
                $(input.parentNode.childNodes[0]).html("<br><br><span class='plus-sign'>+</span><p class='add-img-msg'>Add Image</p>");
                $(input.parentNode).css( "background-color", "#e6e6e5");
            }
        }


        /* Adds a panel to add an image to a memory and its description */
        var counter = 1;
        function addImgPanel() {
            // Clone the hidden readroot div that contains the structure of a img panel
            // Change the style display to show it in the website
            // Change its id name to a unique name using a counter
            var newFieldsDiv = document.getElementById('readroot').cloneNode(true);
            newFieldsDiv.style.display = 'inline-block';
            newFieldsDiv.id = 'img-panel' + counter;

            // Change the img input id
            // Add a name to use it in the form
            var imgInputField = newFieldsDiv.querySelectorAll("input")[0];
            imgInputField.id = imgInputField.id + counter;
            imgInputField.name = imgInputField.id;
            counter++;
            
            // Find the location to be added and insert the new panel
            var insertHere = document.getElementById('writeroot');
            insertHere.parentNode.insertBefore(newFieldsDiv,insertHere);
        }


        /* Closes the respective img panel */
        function closeImgPanel(x_button){
            // Note: Do not decrease the counter when deleting because it will duplicated names for the img inputs 
            $(x_button.parentNode).remove();
        }


        /* Saves the memory */
        $(function() {
            var form = $('#form-add-memory');

            $(form).submit(function(event){
                event.preventDefault();
                var formData = $(form).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(form).attr('action'),        
                    data: formData,
                    dataType:'json',                        
                })
                .done(function(response) {
                    // console.log(response);
                })
                // If screen name is not found, found but there aren't any tweets or has already been searched
                .fail(function(response) {
                    
                });
            });
        });
    </script>
</body>
</html>
