<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ASH</title>
  <meta name="description">

  {% load static from staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

  <style>
  body{
    padding-top: 30px
  }

  section{
    padding-top: 60px
  }
  </style>
</head>

<body>
  <div>
    <div class="container text-center">
      <h1>Register</h1>
    </div>
  </div>

  <!--Form to input the userid and password of the user -->
  <div class="panel panel-default" style="margin-right:15%; margin-left:15%;" align="center">
    <div class="row promo-top">
      <br>
      <p>Please provide the following information so that you can start using our
        services.</p>
        <br>
        <form id="form_register" type="GET" action="/mainApp/authenticateRegister/" method="get">
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px; margin-top:2px; border:none; background-color:white; vertical-align:top;">Are you a(n): </span>
            {% for radio in form.client_or_subuser %}
            <div align="left" style="margin-left:20px">
                {{ radio }}
            </div>
            {% endfor %}
          </div>
          <div id='family_friend' class="input-group" style="width:50%; padding:0%;">
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px;">User Name</span>
            {{ form.user_name }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px">Password</span>
            {{ form.password }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px">First Name</span>
            {{ form.firstname }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px">Last Name</span>
            {{ form.lastname }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px">Email</span>
            {{ form.email }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px;">Birthdate</span>
            {{ form.birthdate }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px">Phone #</span>
            {{ form.phone_number }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px">Address</span>
            {{ form.address }}
          </div>
          <br>
          <div class="input-group" style="width:50%; padding:0%;">
            <span class="input-group-addon" style="width:100px">Profile Pic</span>
            {{ form.profile_picture }}
          </div>
          <br>
          <br>
          <br>
          <div class="input-group" style="width:50%; padding:0%; text-align:center">
            <input type='submit' value='Register!' id='register_button' class='btn btn-default' style='width:30%; background-color:#D3D3D3; color:black'>
          </div>
          <br>
        </form>
        <div id="form_register_error_message"></div>
      </div>
    </div>
  </body>
  </html>



  <!-- BELOW ARE ALL THE SCRIPTS -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

  <!-- Script to get the userid and password information and perform the corresponding action -->
  <script>
  $(function() {
    var form = $('#form_register');                        // Get the form.
    var formMessages = $('#form_register_error_message');  // Get the messages div.

    $(form).submit(function(event){                // Set up an event listener for the contact form.
      event.preventDefault();                     // Stop the browser from submitting the form.
      var formData = $(form).serialize();         // Serialize the form data.
      $.ajax({                                    // Submit the form using AJAX.
        type: 'GET',
        url: $(form).attr('action'),
        data: formData,
        dataType:'json',
      })
      .done(function(response){
        // if (response == 'input_error1'){
        //   var message = "User already exists! Try again.";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "input_error2") {
        //   var message = "Email already exists! Try again.";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "input_error3") {
        //   var message = "Summoner Name already exists! Try again.";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "input_error4") {
        //   var message = "Skypeid already exists! Try again.";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "input_error5") {
        //   var message = "Twitchid already exists! Try again.";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "404") {
        //   var message = "Invalid Summoner name";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "400") {
        //   var message = "Invalid Summoner name";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "401") {
        //   var message = "Invalid Summoner name";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "429") {
        //   var message = "Invalid Summoner name";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "500") {
        //   var message = "Invalid Summoner name";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        // else if (response == "503") {
        //   var message = "Invalid Summoner name";
        //   $(formMessages).html("<br><div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+message+"</div>");
        // }
        else{
          console.log(response)
          window.location.assign('/mainApp/'+response+'profile');
        }
      })
      .fail(function(response){
        console.log(response);
        alert("Oops! An error occured registering.");
      });
    });
  });
  </script>
  <script>
  $(document).ready(function() {
    $('input[type=radio][name=client_or_subuser]').change(function() {
        if (this.value == 'Family_Friend') {
            $('#family_friend').show();
            document.getElementById("family_friend").innerHTML =
              "<span class='input-group-addon' style='background-color:white; border:none; width:100px;'>Reference ID</span>"+
              "<input class='form-control' id='reference_id' maxlength='50' name='reference_id' style='border:1px solid #D3D3D3; border-top-left-radius: 0; border-bottom-left-radius: 0; margin-left:20px' type='text'><br>";
        }

        else if (this.value == 'Client') {
            $('#family_friend').hide();
        }
    });
});
</script>
