img {
    border: none;
}
#thumbnail img {
    cursor: pointer;    
}
#large {
    display: none;
    position: absolute;     
    background: #FFFFFF;    
    padding: 5px;
    z-index: 10;
    min-height: 200px;
    min-width: 200px;
    color: #336699;
}
#background{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;    
    z-index: 1;
}