#wrap {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

#events-icons-section {
    
}

#event-icon {
    border: none;
    margin: 0.2em;
    min-width: 12em;
    max-width: 12em;
    min-height: 13em;
    max-height: 13em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#event-icon img {
    height: 10em;
    width: 10em;
    border-radius: 5px;
    cursor: pointer;
}

#plus-icon {
    border: 1px solid #D1D0CE;
    border-radius: 100%;
    margin: 0.2em;
    min-width: 10em;
    max-width: 10em;
    min-height: 10em;
    max-height: 10em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#plus-icon img {
    height: 9em;
    width: 9em;
    border-radius: 100%;
    cursor: pointer;
}


.add-memory-icons-section {
    border: 1px solid #D1D0CE;
    border-radius: 5px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    background-color: #BDBDBD;
    height: 12em;
    width: 12em;
    text-align: center;
}

.plus-sign {
    font-family: arial; 
    font-weight: bold;
    font-size: 35px; 
    color: black
}

.add-img-msg {
    font-family: arial;
    font-weight: bold;
    font-size: 15px; 
    color:#585858;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    text-align: center;
}


#uploadFile {
    border: none;
    margin-left: 10px; 
    width: 200px;
}





